@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #FFF;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
  }
  .loader::after {
    animation-delay: 1s;
  }
  
  @keyframes animloader {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }

  /* Style for the entire scrollbar */
::-webkit-scrollbar {
    width: 4px; /* Thin scrollbar width */
    height: 4px; /* Thin horizontal scrollbar height */
  }
  
  /* Style for the draggable part (thumb) of the scrollbar */
  ::-webkit-scrollbar-thumb {
    background-color: white; /* White color for the scrollbar thumb */
    border-radius: 2px; /* Optional: Rounded corners for the thumb */
  }
  
  /* Style for the track (background part) of the scrollbar */
  ::-webkit-scrollbar-track {
    background: transparent; /* No background for the track */
  }
  



/* HTML: <div class="loader"></div> */
.downloadloader {
  width: 40px;
  aspect-ratio: 1;
  color: #f03355;
  position: relative;
  background:
    conic-gradient(from 134deg at top   ,currentColor 92deg,#0000 0) top,
    conic-gradient(from -46deg at bottom,currentColor 92deg,#0000 0) bottom;
  background-size: 100% 50%;
  background-repeat: no-repeat;
}
.downloadloader:before {
  content:'';
  position: absolute;
  inset: 0;
  --g:currentColor 14.5px,#0000 0 calc(100% - 14.5px),currentColor 0;
  background:
    linear-gradient( 45deg,var(--g)),
    linear-gradient(-45deg,var(--g));
   animation: l7 1.5s infinite cubic-bezier(0.3,1,0,1);
}
@keyframes l7 {
   33%  {inset:-10px;transform: rotate(0deg)}
   66%  {inset:-10px;transform: rotate(90deg)}
   100% {inset:0    ;transform: rotate(90deg)}
}